html{
    background-color: white;
}

#header{
    background-color: white;
    width: 100%; height: 210px;
    text-align: center;
    vertical-align: middle;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#nav{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background-color: white;
    width: 50%; height: auto;
    text-align: center;
}

#nav a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: monospace;
    font-size: 2vw;
    margin-left: 18px;
}

#nav a:hover{
    color: rgb(19, 206, 181);
}

#conword{
    margin-top: 100px;
    background-color: black;
    color: white;
    font-size: 3vw;
    text-align: center;
    margin-right: auto ; margin-left: auto;
    width:30%;
}

#contactform{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#contactform form {
	margin-left: auto; margin-right: auto;
	padding: 24px 0 0;
	width: 620px;
}

#contactform form input, #contactform form textarea {
	border: 2px solid #252525;
	color: #252525;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
    margin-bottom: 37px ;
    margin-left: auto; margin-right: auto;
	padding: 20px 10px;
	text-align: center;
	text-transform: uppercase;
	width: 90%;
}

#contactform form textarea {
	height: 175px;
	overflow: auto;
	resize: both;
}
#contactform form #send {
	background: #252525;
	color: #fff;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	padding: 20px 28px;
    width: auto;
    margin-left: auto; margin-right: auto;
    margin-bottom: 10px;
}
#contactform form #send:hover {
	background: #fff;
	color: #252525;
    cursor: pointer;
    
}

#footer {
	background: black;
	margin: 0;
	padding: 36px 0 42px;
}
#footer div {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#footer div p {
	color: #fff;
	float: left;
	line-height: 44px;
	margin: 0 0 0 100px;
	padding: 0;
}

#footer div a {
	float: right;
	list-style: none;
	margin: 0 25px;
	padding: 0;
	width: 130px;
}

#footer  a img { 
    float: right;
    width: 44px;height: 44px;
}

