html{
    background-color: white;
}

#header{
    background-color: white;
    width: 100%; height: 210px;
    text-align: center;
    vertical-align: middle;
}

#logo{
    margin-top: 30px;
    display: block;
    font-size: 5vw;
    margin-left: auto;
    margin-right: auto;
}

#nav{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 50%; height: auto;
    text-align: center;
}

#nav a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: monospace;
    font-size: 0.5cm;
    margin-left: 18px;
}

#nav a:hover{
    color: rgb(19, 206, 181);
}

#parallax4{
    margin-top: 100px;
    background-image: url(g5.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#open{
    text-shadow: 0 1px 0 yellow, 0 0 5px red;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 1.9cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
}

#photo{
    width: 80%; height: auto;
    margin-left: auto; margin-right: auto;
    margin-top: 20px;
    text-align: center;
    border-right: 3px solid black ;
    border-left: 3px solid black ;
}

#photo img{
    filter: grayscale(80%);
    margin-top: 10px;
    width: 40%; height: 60%;
    padding: 10px;
    background-color: black;
    border-radius: 20%;
}



#footer {
	background: black;
	margin-top: 15px;
    padding: 36px 0 42px;
}

#footer div {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

#footer div p {
	color: #fff;
	float: left;
	line-height: 44px;
	margin: 0 0 0 100px;
	padding: 0;
}

#footer div a {
	float: right;
	list-style: none;
	margin: 0 25px;
	padding: 0;
	width: 130px;
}

#footer  a img { 
    float: right;
    width: 44px;height: 44px;
}

